.copilot/
.DS_Store
.jira
@smartthings
argocd
atuin
colima/
configstore
devcontainer/envs
dlv/
ee/
fastfetch/
fish
fush
gcloud
gh
gh-copilot/
gh-dash/
github-copilot
google-cal-api.creds.json
gup/
iterm2
katana
kustomize/
ldcli/
mise/
nvim.local
op
snyk/
sops.nvim/
sourcery
sq
thefuck
uv/
yarn
